@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main{
    flex: 1;
    background-color: hsl(0, 0%, 8%);
    align-content: center;
}

#card-container {
    min-width: 300px;
    width: 20%;
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    padding: 2%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    font-family: inter;
    color: white;
    text-align: center;

}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 30%;
    
}

h1 {
    
    font-size: 1.8rem;
    padding: 20px 0 10px 0;
}

h2 {
    color: hsl(75, 94%, 57%);
    font-size: 1rem;
    padding-bottom: 20px;
}

p {
    padding-bottom: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

li a {
    flex: 1;
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}


.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}