@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main{
    flex: 1;
    background-color: hsl(0, 0%, 8%);
    align-content: center;
}

#card-container {
    width: 20%;
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    padding: 1.3%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    font-family: inter;

}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 30%;
    
}

h1 {
    color: white;
    font-size: 2rem;
    padding: 20px 0 10px 0;
    text-align: center;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}